
.colorBarra{
	background-color:#5C0000;
}

.sombreadoGrueso{
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	/*box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);*/
}

.sombraTarjetas{
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.50);
}

.llamadoAccion{
	background-color: #ffa502;
}

.llamadoAccion2{
	background-color: #ffaf40;
}

